.container{
  margin: 15px;
  display:flex;
  justify-content: center;
  align-items: center;
}

button{
padding: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 25px;
  font-weight: 600;
  border: 1px solid rgb(0, 98, 128);
}

.white-text {
  display:flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  }
