<div class="container">
  <div class="row">
    <button
      class="btn btn-primary"
      (click)="onDisplayDetailsClick()"
      [ngStyle]="{ backgroundColor: 'rgb(0, 98, 128)' }"
    >
      Display Details
    </button>

    <hr />
    <p *ngIf="showSecret">Secret Password = 'tuna'</p>
    <div
      class="display-item"
      *ngFor="let logItem of log; let i=index"
      [ngClass]="{ 'white-text': i >= 5 }"
      [ngStyle]="{
        backgroundColor: logItem >= 4 ? 'rgb(12, 173, 222)' : 'rgb(89, 111, 239)'
      }"
    >
      {{ logItem }}
    </div>
  </div>
</div>
