<div class="container">
  <div class="row">

    <button
    class="btn btn-primary"
    (click)="onDisplayDetailsClick()" [ngStyle]="{backgroundColor: 'rgb(0, 98, 128)'}">Display Details</button>

    <hr>
    <p *ngIf="showSecret">Secret Password = 'tuna'</p>
      <div class="display-item"
          *ngFor="let logItem of log"
          [ngClass]="{'white-text': logItem >= 5}"
          [ngStyle]="{backgroundColor: logItem >= 5 ? 'rgb(57, 6, 6)' : 'rgb(89, 111, 239)'}">
          {{logItem}}
      </div>
  </div>
</div>
